.bgParticles {
    position: fixed;
    z-index: 0;
}

#PageContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.crash {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}