.project {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 16px;
    margin-left: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-right: auto;
    padding: 16px;
    text-align: center;
    width: 75%;
}

.project .head {
    align-items: center;
    display: flex;
    justify-content: center;
}

.project .head img {
    height: 48px;
    margin-right: 16px;
    width: 48px;
}

.project .badges {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.project .badges .badge {
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.project .highlights {
    text-align: left;
}

.project .btn {
    color: white;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}

.project .btn.src {
    background-color: #43A047;
}

.project .btn.proj {
    background-color: #3949AB;
}

.project .btn.disabled {
    color: lightgrey;
    pointer-events: none;
}