#landing {
    align-items: center;
    display: flex;
    font-family: 'Skanji', cursive;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 75%;
}

#landing .selfie {
    border-radius: 25%;
    height: 350px;
    width: 250px;
}

#landing .sign {
    align-items: center;
    animation-name: leftSectionDesc;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    opacity: 0;
}

#landing .left {
    animation-name: leftSection;
    animation-duration: 1s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 100%;
}

#landing .right {
    align-items: center;
    animation-name: rightSection;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    width: 100%;
}

#landing .title {
    cursor: pointer;
    font-family: 'Galindo', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    margin-block-end: 4px;
    height: 72px;
    width: 295px;
}

#landing .title .animatedLetter {
    transition-duration: 250ms;
}

#landing .title .animatedLetter:hover {
    color: #f44336;
    font-size: 3rem;
    padding-left: 4px;
    padding-right: 4px;
}

#landing .proffesions {
    font-size: 1.5rem;
    font-weight: bold;
}

#landing .desc {
    animation-name: rightSectionDesc;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    font-family: 'Lato', sans-serif;
    margin-top: 32px;
    opacity: 0;
    text-align: justify;
    width: 75%;
}

#landing .desc a {
    color: rgba(255, 255, 255, 1);
    border-bottom: dashed 1px white;
    text-decoration: none;
    transition-duration: 250ms;
}

#landing .desc a:hover {
    border-bottom: dotted 1px white;
    color: hsla(0, 0%, 100%, .75);
}

@media (max-width: 768px) {
    #landing {
        flex-direction: column;
        height: 100%;
        padding-top: 64px;
        width: 90%
    }
    #landing .left {
        padding-top: 32px;
    }
    #landing .right {
        margin-left: unset;
    }
    #landing .right .desc {
        width: 90%;
    }
    #landing .selfie {
        height: 250px;
        width: 175px;
    }
}

@keyframes leftSection {
    from {
        opacity: 0;
        transform: translateX(-250px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes leftSectionDesc {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rightSection {
    from {
        opacity: 0;
        transform: translateX(250px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rightSectionDesc {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}