#landing {
    align-items: center;
    display: flex;
    font-family: 'Skanji', cursive;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

#landing .selfie {
    border-radius: 25%;
    height: 350px;
    width: 250px;
}

#landing .sign {
    align-items: center;
    animation-name: leftSectionDesc;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    opacity: 0;
}

#landing .left {
    animation-name: leftSection;
    animation-duration: 1s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

#landing .right {
    align-items: center;
    animation-name: rightSection;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-left: 64px;
    opacity: 0;
}

#landing .title {
    cursor: pointer;
    font-family: 'Galindo', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    margin-block-end: 4px;
    height: 72px;
    width: 295px;
}

#landing .title .animatedLetter {
    transition-duration: 250ms;
}

#landing .title .animatedLetter:hover {
    color: #f44336;
    font-size: 3rem;
    padding-left: 4px;
    padding-right: 4px;
}

#landing .proffesions {
    font-size: 1.5rem;
    font-weight: bold;
}

#landing .desc {
    animation-name: rightSectionDesc;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    font-family: 'Lato', sans-serif;
    margin-top: 32px;
    opacity: 0;
    text-align: justify;
}

@media (max-width: 768px) {
    #landing {
        flex-direction: column-reverse;
    }

    #landing .left {
        padding-top: 32px;
    }

    #landing .right {
        margin-left: unset;
    }

    #landing .selfie {
        height: 250px;
        width: 175px;
    }
}

@keyframes leftSection {
    from {
        opacity: 0;
        transform: translateX(-250px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes leftSectionDesc {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rightSection {
    from {
        opacity: 0;
        transform: translateX(250px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rightSectionDesc {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

nav {
    align-items: center;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 16px;
}

.browsePage {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
    padding: 12px;
    transition-duration: 250ms;
    margin: 8px;
}

.browsePage:hover {
    border-color: red;
    background-color: red;
}