@import url('https://fonts.googleapis.com/css?family=Galindo|Lato|Open+Sans|Skranji&display=swap');

html, body {
    background: #263238;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}